html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  color: #333;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: 2em;
  outline: none;
  border: none;
  padding: 0.4em 0.3em;
}

h1 {
  color: #eeeeee;
  font-size: 2.5em;
}

h2 {
  color: #333;
  font-size: 1.5em;
}

p {
  color: #eeeeee;
  font-size: 1em;
}
