button {
  color: #555;
  background-color: #121212;
  transition: color 1s;
  border-radius: 15px;
  box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.09),
    3px 3px 3px rgba(0, 0, 0, 0.5);
}

button:hover {
  color: #eeeeee;
}

button:active {
  box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.09) inset,
    3px 3px 3px rgba(0, 0, 0, 0.5) inset;
}

a {
  color: #555;
  text-shadow: -2px -2px 3px rgba(255, 255, 255, 0.09),
    3px 3px 3px rgba(0, 0, 0, 0.5);
  transition: color 1s;
}

a:hover {
  color: #eeeeee;
}
