button {
  color: var(--secondary);
  background-color: var(--background);
  transition: color 1s;
  border-radius: 15px;
  box-shadow: var(--first_shadow), var(--second_shadow);
}

button:hover {
  color: var(--primary);
  cursor: pointer;
}

input {
  color: var(--secondary);
  background-color: var(--background);
  transition: color 1s;
  border-radius: 15px;
  box-shadow: var(--first_shadow) inset, var(--second_shadow) inset;
}

input::placeholder {
  color: #a0a0a0;
}

button:hover {
  color: var(--primary);
}

button:active {
  box-shadow: var(--first_shadow) inset, var(--second_shadow) inset;
}

a {
  color: var(--secondary);
  text-shadow: var(--first_shadow), var(--second_shadow);
  transition: color 1s;
}

a:hover {
  color: var(--primary);
}
